extends layout
block stylesheet
    link(href="/css/index.css", rel="stylesheet")
block content
    div#popback.popback
        div#popen.popen
    div#container.container
        - for(var i in boards) {
        -   if (boards[i].target) {
        div(class="board boardpopen board-#{boards[i].size}", board="#{boards[i].name}", target-url="/board/#{boards[i].target}")
        -   }else{
        div(class="board board-#{boards[i].size}", board="#{boards[i].name}")
        -   }
        - }
block script
    script(src='/libjs/jquery.masonry.min.js')
    script(src='/plugs/ckeditor/ckeditor.js')
    script(src='/js/index.js')
