doctype 5
html(lang="en")
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="#{basedomain}/css/lib/bootstrap.css", rel="stylesheet")
    link(href="#{basedomain}/css/lib/bootstrap-responsive.css", rel="stylesheet")
    link(href="#{basedomain}/css/base.css", rel="stylesheet")
  body
    block content
    script(src='#{basedomain}/js/lib/jquery-1.8.2.min.js')
    script(src='#{basedomain}/js/lib/bootstrap-collapse.js')
    block script
