extends ../board
block board
    div.mail-queues
        table.table.table-striped
            thead
                tr
                    th Address
                    th Server
                    th Port
                    th User
                    th Pass
            tbody
                - for(var i in hbConfigs) {
                tr
                    td #{i}
                    td #{hbConfigs[i]['server']}
                    td #{hbConfigs[i]['port']}
                    td #{hbConfigs[i]['user']}
                    td #{hbConfigs[i]['pass']}
                - }