extends ../board
block board
    table.table.table-striped
        thead
            tr
                th Id
                th Name
                th Start Time
                th Params
                th Options
                th Pid
                th Control
        tbody
            - for(var i in jobList){
            tr
                td #{jobList[i].id}
                td #{jobList[i].name}
                td #{jobList[i].starttime}
                td #{jobList[i].params}
                td #{jobList[i].options}
                td #{jobList[i].pid}
                td
                    button.btn.btn-danger stop
            - }
    div.input-append.input-prepend.command-line
        span.add-on.code zhihui ~$
        input#inputCmd(type="text", placeholder="add jobs in command line")
        button.btn#addJob add
