extends ../board
block board
    table.table.table-striped
        thead
            tr
                th Id
                th Name
                th Start Time
                th Params
                th Options
                th Pid
                th Control
        tbody
            - for(var i in jobList){
            tr
                td #{jobList[i].id}
                td #{jobList[i].name}
                td #{jobList[i].starttime}
                td #{jobList[i].params}
                td #{jobList[i].options}
                td #{jobList[i].pid}
                td
                    button.btn.btn-danger stop
            - }
            tr
                td
                - for (var i=0;i<4;i++){
                td
                    input(type="text")
                - }
                td 
                td
                    button.btn.btn-primary add
