extends ../board
block board
    form#mailTempFrom.form-horizontal(method="post", action="/api/post/mailtempedit")
        table.table.table-striped
            thead
                tr
                    th Name
                    th WebPowerId
                    th Desc
                    th Title
                tbody
                    tr
                        td
                            input(type="text", placeholder="MailTempName", name="name", value="#{mailTemplate.name}", readonly)
                        td
                            input(type="text", placeholder="示例:2,96,958 (活动id，分组id，邮件id)", name="webpowerid", value="#{mailTemplate.webpowerid}")            
                        td
                            input(type="text", placeholder="desc", name="desc", value="#{mailTemplate.desc}")
                        td
                            input(type="text", placeholder="Title", name="title", value="#{mailTemplate.title}")            
        textarea#maileditor.maileditor(name="temp", cols="80", rows="200") #{mailTemplate.temp}
        input#mailEditAction(type="hidden", name="action", value="edit")
        div.btn-group.div-mailtempedit
            button.btn.mail-temp-edit(type="submit") Submit
            button.btn.btn-danger.mail-temp-delete Delete
    script(src="/js/board/maileditor.js")