extends ../board
block board
    form#smsChannelForm.form-horizontal(method="post", action="/api/post/smschanneledit")
        div.control-group
            label.control-label(for="scName") Name
            div.controls
                input#scRank(type="text", placeholder="Name", name="name", value="#{smsChannel.name}", readonly)
        div.control-group
            label.control-label(for="scRank") Rank
            div.controls
                input#scRank(type="text", placeholder="Rank", name="score", value="#{smsChannel.score}", required)
        div.control-group
            label.control-label(for="scDesc") Desc
            div.controls
                input#scDesc(type="text", placeholder="Desc", name="desc", value="#{smsChannel.desc}")
        div.control-group
            label.control-label(for="scPool") Pool
            div.controls
                - for(var i in pools) {
                label.checkbox.inline #{i}
                    input(type="checkbox", value="#{i}", name="pool", checked=pools[i])
                - }
        div.control-group
            label.control-label(for="scUrl") UrlTemplate
            div.controls
                textarea#scUrl.span4(cols="80", rows="5", name="url") #{smsChannel.url}
        input#scAction(type="hidden", name="action", value="edit")
        div.control-group
            div.controls.btn-group
                button.btn.sms-channel-edit(type="submit") Submit
                button.btn.btn-danger.sms-channel-delete Delete
    script(src="/js/board/smschanneledit.js")